BASE_URL=localhost:8093
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=tic-rock
DATABASE_USER=pmauser
DATABASE_PASSWORD=Pm@123456
APP_PORT=8093
NODE_ENV=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
